/* Montserrat-fonts */
@font-face{
  font-family:Montserrat-Regular ;
  src: url("../fonts/MontserratFonts/Montserrat-Regular.ttf");
}
@font-face{
  font-family:Montserrat-Bold ;
  src: url("../fonts/MontserratFonts/Montserrat-Bold.ttf");
}
@font-face{
  font-family:Montserrat-Italic ;
  src: url("../fonts/MontserratFonts/Montserrat-Italic.ttf");
}
@font-face{
  font-family:Montserrat-Light ;
  src: url("../fonts/MontserratFonts/Montserrat-Light.ttf");
}
@font-face{
  font-family:Montserrat-BoldItalic ;
  src: url("../fonts/MontserratFonts/Montserrat-BoldItalic.ttf");
}

body{
  margin: 0px;
  padding: 0px;
  font-family: Montserrat-Regular;
  background-color: #1a1a1a;
}
section#header{
  text-align: center;
  color: #f2f2f2;
  background-color: #000000;
  padding: 10px 20px;
 font-size: 20px;
 font-weight: 900;
 font-family: Montserrat-Bold;
}
#list-container {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#web-list, #web-list2 {
  background-color: #000000;
  color: #f2f2f2;
  display: inline-block;
  width: 45%; /* adjust this value as needed */
  vertical-align: top;
  margin: 0 2.5%; /* adjust this value as needed */
}
#web-list2{
  margin-right: 90px;
}
#web-list li, #web-list2 li {
  background-color: #333333;
  padding: 15px;
  color: #f2f2f2;
  font-family: Montserrat-Regular;
  font-size: 15px;
  font-weight: 900;
  list-style: none;
  text-align: center;
}
a {
  text-decoration: none;
  color: #ff6347;
}
.invName-button{
      padding: 5px 15px;
      background-color: #1a1a1a;
      color: #f2f2f2;
      border: none;
      font-weight: bolder;
      font-size: 12px;
}

  /* For tablets */
@media only screen and (min-width: 767px) and (max-width: 1024px) {
#web-list, #web-list2 {
  width: 100%; /* Set the width to 100% for tablets */
  margin: 10px 0; /* Adjust the margin as needed */
}
#web-list2 {
  margin-right: 40px;
}
}

/* For mobile phones */
@media (max-width: 480px) {
section#header {
  font-size: 16px; 
}

#web-list li, #web-list2 li {
  font-size: 12px;
}
#web-list2 {
  margin-right: 45px;
}
}